@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 121, 116, 112;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 250, 250, 250;
  }
}

/* styles.css */
/* For small devices (sm) */
@media (min-width: 640px) {
  h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
  }
  p {
      font-size: 1rem;
      margin-bottom: 1rem;
  }
}

/* For medium devices (md) */
@media (min-width: 768px) {
  h1 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
  }
  p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
  }
}

/* For large devices (lg) */
@media (min-width: 1024px) {
  h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
  }
  p {
      font-size: 1.25rem;
      margin-bottom: 1rem;
  }
}

/* For extra-large devices (xl) */
@media (min-width: 1280px) {
  h1 {
      font-size: 2.25rem;
      margin-bottom: 1rem;
  }
  p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
  }
}

/* For 2xl devices */
@media (min-width: 1536px) {
  h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
  }
  p {
      font-size: 1.6rem;
      margin-bottom: 1rem;
  }
}


.image-container {

  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: "widest";
  justify-content: center;
}

#card:hover #desc{
  opacity: 100%;
}

#card:hover #title{
  opacity: 0%;
}

#hover-underline {
  position: relative;
  text-decoration: none;
  color: rgb(121, 116, 112); /* Set your desired text color */
}

#hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgb(121, 116, 112); /* Change this to your desired underline color */
  transform: scaleX(0);
  transition:  0.4s ease-in-out;
}

#hover-underline:hover::after {
  transform: scaleX(1);
}

#fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}